<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBubDJD8NFieUeGKC9TBiQZ4bz4ph0uHvo</string>
	<key>GCM_SENDER_ID</key>
	<string>220524887706</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.spareWaka</string>
	<key>PROJECT_ID</key>
	<string>spare-waka</string>
	<key>STORAGE_BUCKET</key>
	<string>spare-waka.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:220524887706:ios:44c15b21a2d1f3829fe923</string>
</dict>
</plist>